@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fonte/idroid.otf');
    font-weight: normal;
    font-style: normal;

}
:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte0:Arial, Helvetica, sans-serif;
    --fonte1: 'idroid', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #83E1AD;
    font-family: var(--fonte0);
    font-weight: normal;
}
header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    color:white;
}

.tituloprincipal {
    text-align: center;
    font-family: var(--fonte0);
    color:white;
}

header > p {
    font-family: var(--fonte0);
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);

}

nav > a {
    color: white;
    font-family: var(--fonte0);
    text-decoration: none;
    font-weight: lighter;
}

main {
    background-color: white;
    margin: auto;
    max-width: 800px;
    min-width: 220px;

}

.texto {
    line-height: 1.5em;
}

a {
    color:var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-family: var(--fonte1);
    color:var(--cor4);
}

h2 {
    font-family: var(--fonte1);
    font-size: 1em;
    font-weight:normal;
    color:#24632B;
    background-image:linear-gradient(to right, #07a842, white)
}

aside>h3 {
    background-color: #07a842;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    text-decoration: underline;
}
aside {
    background-color: #C5EBD6;
    margin: -10px 20px 20px 20px;
    border-radius: 0px 0px 10px 10px;
}

footer{
    background-color: #046327;
    text-align: center;
    margin: -15px;
}
